/*
Colors
Primary:
background-color:  rgb(48, 47, 44);
text:
   color: rgb(220, 161, 0);

Secondary
       background-color: rgb(40, 40, 40);
Hover:
 background-color: rgb(63, 64, 61);

*/





img{
    width: 30%;
height: auto;
    }


*{
    box-sizing: border-box;
    user-select: none;
    z-index: 10;
}
::-webkit-scrollbar {
 width: 0px;
  }




#container{
    display: grid;
    grid-template-columns: .6fr 1.6fr .8fr;
    grid-template-rows: .1fr 2fr .17fr ;
    height: 100vh;

    gap: 10px;

margin: 0px;
    background-color:  rgb(48, 47, 44);
    grid-template-areas: 
    "leftSide header people"
    "leftSide main people"
     "leftSide footer people"

    
    ;
    overflow: hidden;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(48, 47, 44);
    margin: 0;
    padding: 0;}


    #people {
        margin: 10px;
        padding: 8px;
        grid-area: people;
        

        text-align: center;
        display: grid;
        grid-template-rows: 1.4fr 1.4fr repeat(100, 1fr);
        grid-template-columns: 1fr 1fr; 
        gap: 9px; 
        grid-template-areas: 
            "peopleTitle peopleTitle"
            "filter filter";
        overflow-y: scroll;
        border-radius: 3px; /* Slight rounding of corners */
    }
    
    #filter{
        width: 70%;
        border-radius: 8px;
        grid-area: filter;
        margin: auto;
        text-align: center;
        font-size: 100%;
        font-weight: 600;
        padding: 2px;
        color: white;
        margin-top: 10px;
        transition: background-color 0.3s ease, color .3s ease, transform .3s ease;
margin-bottom: 1%;     
    }
    
    #filter:hover{
        background-color:  rgb(48, 47, 44);
        color: rgb(160, 183, 153);

   
    }
    
    /* Adjust filter menu to appear below */
    #filterMenu{
         /* Ensure it's positioned relative to the parent */
        width: 70%; /* Match filter width */
   
        margin: auto;
       
      
        z-index: 999;
    }
    
    .filterCheckbox{
        font-size: 100%;
        padding: 1%;
     border-radius: 8px;
        color: white;
        background-color: rgb(40, 40, 40);
        margin-bottom: 1%;
        font-weight: 400;

    }



    .filterOption {
        font-size: 100%;
        padding: 1%;
     border-radius: 8px;
        color: white;
        background-color: rgb(40, 40, 40);
        margin-bottom: 1%;
      display: grid;
      grid-template-areas: "filterName filterToggle";
      grid-template-columns: 1fr 1fr;
      font-weight: 400;

    }
    .filterName{
        grid-area: filterName;
    }

    .filterToggle{
        grid-area: filterToggle
    }
    
    .filterOption:hover {
        background-color: rgb(48, 47, 44);
        color: rgb(160, 183, 153);
    }
    
    .active {
        display: block; /* Show when active */
    }

.selectedFilter{
    background-color: rgb(48, 47, 44);
        color: rgb(160, 183, 153);;
}
#peopleTitle{
    grid-area: peopleTitle;
    position: relative;
   
    text-align: center;
    font-size: 100%;
    font-weight: 600;
    color: rgb(220, 161, 0);
}


    .person {
        scroll-snap-align: start;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 8px;
        background-color: rgb(40, 40, 40);
        color:white;
        padding: 5%;
       text-align: center;
    }
    

#miscData{
    background-color: rgb(40, 40, 40);
        padding: 3%;
    display: flex;
    flex-direction: column;
    margin: 2%;
    color: rgb(220, 161, 0);

}

#leftSide{
    padding: 5px;
    grid-area: leftSide;
    background-color:  rgb(48, 47, 44);
    display: grid;
    height: auto;
    grid-template-columns: 1fr ;
    grid-template-rows: .9fr 1fr 1fr;
gap: 2px;
}

#productionData{
  color: rgb(220, 161, 0);
    background-color: rgb(40, 40, 40);
    border-radius: 3px;
    display: grid;
    grid-template-rows: 1fr repeat(9,1fr);
margin: 2%;
}


#eventLog{
    background-color: rgb(40, 40, 40);
    display: grid;
    grid-template-rows: .7fr repeat(10, 1fr) 1fr;
    margin: 2%;
    padding-top: 5px;
    border-radius: 3px;
    color: rgb(220, 161, 0);
overflow: hidden;

}

.eventLogitem{
    background-color: rgb(40, 40, 40);
    margin: 0;
}
#userInput{
    background-color: rgb(34, 34, 33);
    margin: 0;

}
#eventLogTitle{
    padding: 5px;
    display: flex;
    font-size: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
#productionTitle{
    display: flex;
    font-size: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.resourceDiv{
   
font-size: 100%;
padding: 1.5%;
}

#header {

    grid-area: header;
    background-color: rgb(48, 47, 44);
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr;
    grid-template-areas: 
        "time title pauseplay";
    height: auto;
}



#timeData {  /* Update this to match the grid area */
    margin: 5px;
    font-size: large;
    font-weight: 300;
    grid-area: time;
    color: rgb(220, 161, 0)
;
    background-color:  rgb(40, 40, 40);;
}

#title {
justify-content: center;    display: flex;
    align-items: center;
    margin: 5px;
    grid-area: title;
    
    text-align: center;
    font-size: xx-large;
    font-weight: 700;
    color: rgb(220, 161, 0)
}

#pausePlay {
    margin: 5px;
    grid-area: pauseplay;
    color: rgb(220, 161, 0);
    background-color: rgb(40, 40, 40);
    text-align: center;
}


#footer {
    grid-area: footer;
    display: flex;
    background-color: rgb(40, 40, 40);
    height: auto;
    border-radius: 10px; /* Adjust value for more or less rounding */
    overflow: hidden;
    margin: 2px;
    margin-bottom: 15px;
}



.footerTab {
    flex: 1; /* Allow tabs to grow evenly */
    height: auto;
    transition: transform .2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.footerTab:hover{
    transform: scaleX(1.1);

}

.footerTab:hover{
    background-color: rgb(63, 64, 61);
    color: rgb(160, 183, 153);
}







#mainContainer{
    
    grid-area: main;
    background-color:  rgb(48, 47, 44);
  
}

#construction{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr .2fr;
gap: 3%;
padding:5% 6% 0% 6%;
    grid-template-areas: 
    
    "residential residential"
    "storage storage"
    "knowledge knowledge"
    "production production"
    "food food"
    "justice justice"
    "health entertainment"
    
    ;
    height: 100%;
}



#residential{
grid-area: residential;


}


  * {
        cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24"><path fill="%23D0A407" d="M19.27 15.32 7.77 1.61A1 1 0 0 0 6 2.25v17.89a1 1 0 0 0 1.64.77l3.08-2.58 1.56 4.3a1 1 0 0 0 1.28.6l1.88-.68a1 1 0 0 0 .6-1.28l-1.56-4.3h4.02a1 1 0 0 0 .77-1.64Z"></path></svg>') 8 8, auto;
  }
  
   
  


.constructionDiv{
    
    display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr 3fr;
}
#production{
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 3fr;
}
.constructionDivTitle{
    color:rgb(220, 161, 0);
    background-color:  rgb(48, 47, 44);
    text-align: left;
    font-size: 100%;
    font-weight: 600;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 10px;
    
    
}
.constructionDivButtons{
    background-color:  rgb(48, 47, 44);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr;
    gap: 2px
}

.constructionDivButtonsHalf{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2px
}




#storage{
    grid-area: storage;
    
    

    }




#knowledge{
grid-area: knowledge;



}

#production{
    grid-area: production;
  
   

    }

#justice{
        grid-area: justice;
       

 }



#food{
    grid-area: food;
}

#health{
    grid-area: health;
   

}
#entertainment{
    grid-area: entertainment;
}
.constructionButton{
    margin: 3px;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    background-color: rgb(40, 40, 40);
    border-radius: 6px;
    transition: background-color 0.3s ease, color .3s ease, transform .3s ease;
display: flex;
align-items: center;
justify-content: center;
font-size: 90%;
font-family:Verdana, Geneva, Tahoma, sans-serif;
color: white;
}
.constructionButton:hover{
    background-color: rgb(63, 64, 61);
    color: rgb(160, 183, 153);
 
}


.inactive{
display: none;
}




input[type="checkbox"] {
    display: none;
}

.checkbox-container {
   position: relative;
        display: inline-block;
        width: 5%;           
        aspect-ratio: 1 / 1;  
        background-color: black;
        border-radius: 4px;
        
    
}

.checkbox-container::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 90%;           
    height: 90%;
    background-color: transparent;
    border-radius: 2px;
    transform: translate(-50%, -50%); 
    transition: background-color 0.3s;
}


input[type="checkbox"]:checked + .checkbox-container::after {
    background-color: rgb(160, 183, 153);
}


.insufficient{
    color: red;
}
.sufficient{
    color: white;
}


.tooltip-text {
    position: fixed;           
    background-color: rgb(40, 40, 40);

    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    white-space: nowrap;
    z-index: 1000;              
    visibility: hidden;         
    opacity: 0;                 
    transition: opacity 1s ease;
}
#tooltip{
    width: 10%;
    height: auto;
    text-align: center;
    text-wrap: wrap;
}

#personMenu{
    background-color:  rgb(48, 47, 44);
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr .2fr;
gap: 3%;
padding:5% 6% 0% 6%;
    grid-template-areas: 
    
    "notes notes notes"
    "data data data"
    "actions actions actions"
   "options options options"
     "options options options"
       "options options options"
    
    ;
    height: 100%;
}



#personData{
    grid-area: data;

    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
    
    "title"
"buttons"
    
}

#personNotes{
    grid-area: notes;


    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
    
    "title"
"buttons"
    
    
    ;
   

}

#personActions{
    grid-area: actions;

    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
    
    "title"
"buttons"
    
    
    ;
}


#personOptions{
    grid-area: options;

    display: grid;
    grid-template-rows: 1fr 9fr;
    grid-template-areas: 
    
    "title"
"buttons"
    
    
    ;
   

}




.personDivTitle{
    color:rgb(220, 161, 0);
    background-color:  rgb(48, 47, 44);
    text-align: left;
    font-size: 100%;
    font-weight: 600;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 10px;
    grid-area: title;
    
}

.personDivButtons{
    grid-area: buttons;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr;
    background-color:  rgb(48, 47, 44);
    gap: 2px
}

.personButton{
    margin: 3px;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    background-color: rgb(40, 40, 40);
    border-radius: 6px;
    transition: background-color 0.3s ease, color .3s ease, transform .3s ease;
display: flex;
align-items: center;
justify-content: center;
font-size: 90%;
font-family:Verdana, Geneva, Tahoma, sans-serif;
color: white;
}
.personButton:hover{
    background-color: rgb(63, 64, 61);
    color: rgb(160, 183, 153);
 
}

.person:hover{
    background-color: rgb(63, 64, 61);
    color: rgb(160, 183, 153);
 
}

#peopleTitle:hover{
    background-color:  rgb(40, 40, 40);
}
.personOptionsDivButtons{
    grid-area: buttons;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color:  rgb(48, 47, 44);
    gap: 2px
}
.urgent{
    display: none;
    color: red;
}






.inactive{
    display: none;
}