/*
Colors
Primary:
background-color:  rgb(48, 47, 44);
text:
   color: rgb(220, 161, 0);

Secondary
       background-color: rgb(40, 40, 40);
Hover:
 background-color: rgb(63, 64, 61);

*/





img{
    width: 30%;
height: auto;
    }


*{
    box-sizing: border-box;
    user-select: none;
    z-index: 10;
}
::-webkit-scrollbar {
 width: 0px;
  }




#container{
    display: grid;
    grid-template-columns: .6fr 1.6fr .9fr;
    grid-template-rows: .1fr 2fr .17fr ;
    height: 100vh;

    gap: 10px;

margin: 0px;
    background-color:  rgb(48, 47, 44);
    grid-template-areas: 
    "leftSide header people"
    "leftSide main people"
     "leftSide footer people"

    
    ;
    overflow: hidden;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(48, 47, 44);
    margin: 0;
    padding: 0;}


    #people {
        margin: 10px;
        padding: 8px;
        grid-area: people;
        

        text-align: center;
        display: grid;
        grid-template-rows: 1.4fr 1.4fr repeat(100, 1fr);
        grid-template-columns: 1fr 1fr; 
        gap: 9px; 
        grid-template-areas: 
            "peopleTitle peopleTitle"
            "filter filter";
        overflow-y: scroll;
        border-radius: 3px; /* Slight rounding of corners */
    }
    
    #filter{
        grid-area: filter;
        text-align: center;
        font-size: 100%;
        font-weight: 600;
        padding: 2px;
        margin-top: 10px;
        color: rgb(220, 161, 0);
        transition: background-color 0.3s ease, color .3s ease, transform .3s ease;
        padding: 10px;
    }
    
    #filter:hover{
        background-color:  rgb(48, 47, 44);
        color: rgb(160, 183, 153);

   
    }
    
    /* Adjust filter menu to appear below */
    #filterMenu{
        position: relative; /* Ensure it's positioned relative to the parent */
        width: 100%; /* Match filter width */
        
       
      
        z-index: 999;
    }
    
    .filterOption{
        padding: 5px;
     
        color: rgb(220, 161, 0);
        background-color: rgb(40, 40, 40);
        margin-bottom: 5px;
      display: grid;
      grid-template-areas: "filterName filterName filterName filterToggle";
    }
    .filterName{
        grid-area: filterName;
    }

    .filterToggle{
        grid-area: filterToggle
    }
    
    .filterOption:hover {
        background-color: rgb(48, 47, 44);
        color: rgb(160, 183, 153);
    }
    
    .active {
        display: block; /* Show when active */
    }

.selectedFilter{
    background-color: rgb(48, 47, 44);
        color: white;
}
#peopleTitle{
    grid-area: peopleTitle;
    position: relative;
   
    text-align: center;
    font-size: 100%;
    font-weight: 600;
    color: rgb(220, 161, 0);
}


    .person {
        scroll-snap-align: start;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 3px;
        background-color: rgb(40, 40, 40);
        color:white;
        padding: 13px;
       text-align: center;
    }
    




#leftSide{
    padding: 5px;
    grid-area: leftSide;
    background-color:  rgb(48, 47, 44);
    display: grid;
    height: auto;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1.5fr .6fr;
gap: 2px;
}

#productionData{
  color: rgb(220, 161, 0);
    background-color: rgb(40, 40, 40);
    border-radius: 3px;
    display: grid;
    grid-template-rows: 1fr repeat(9,1fr);
margin: 10px;
}


#eventLog{
    background-color: rgb(40, 40, 40);
    display: grid;
    grid-template-rows: .7fr repeat(10, 1fr) 1fr;
    margin: 10px;
    padding-top: 5px;
    border-radius: 3px;
    color: rgb(220, 161, 0);
overflow: hidden;

}

.eventLogitem{
    background-color: rgb(40, 40, 40);
    margin: 0;
}
#userInput{
    background-color: rgb(34, 34, 33);
    margin: 0;

}
#eventLogTitle{
    padding: 5px;
    display: flex;
    font-size: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
#productionTitle{
    display: flex;
    font-size: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.resourceDiv{
   
font-size: 80%;
padding: 5px;
}

#header {

    grid-area: header;
    background-color: rgb(48, 47, 44);
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr;
    grid-template-areas: 
        "time title pauseplay";
    height: auto;
}



#timeData {  /* Update this to match the grid area */
    margin: 5px;
    font-size: large;
    font-weight: 300;
    grid-area: time;
    color: rgb(220, 161, 0)
;
    background-color:  rgb(40, 40, 40);;
}

#title {
justify-content: center;    display: flex;
    align-items: center;
    margin: 5px;
    grid-area: title;
    
    text-align: center;
    font-size: xx-large;
    font-weight: 700;
    color: rgb(220, 161, 0)
}

#pausePlay {
    margin: 5px;
    grid-area: pauseplay;
    color: rgb(220, 161, 0);
    background-color: rgb(40, 40, 40);
    text-align: center;
}


#footer {
    grid-area: footer;
    display: flex;
    background-color: rgb(40, 40, 40);
    height: auto;
    border-radius: 10px; /* Adjust value for more or less rounding */
    overflow: hidden;
    margin: 2px;
    margin-bottom: 15px;
    border: black 2px solid;
}



.footerTab {
    flex: 1; /* Allow tabs to grow evenly */
    height: auto;
    transition: transform .2s ease;
}
.footerTab:hover{
    transform: scaleX(1.2);
}





.inactive{
    display: none;
}



#mainContainer{
    
    grid-area: main;
    background-color:  rgb(48, 47, 44);
  
}

#construction{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr 1fr 1fr 1fr;
gap: 2px;
padding:5% 6% 0% 6%;
    grid-template-areas: 
    
    "residential residential"
    "storage knowledge"
    "production production"
    "justice justice"
    "health entertainment"
    ;
    height: 100%;
}

#residential{
grid-area: residential;


}


  body {
        cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24"><path fill="%23D0A407" d="M19.27 15.32 7.77 1.61A1 1 0 0 0 6 2.25v17.89a1 1 0 0 0 1.64.77l3.08-2.58 1.56 4.3a1 1 0 0 0 1.28.6l1.88-.68a1 1 0 0 0 .6-1.28l-1.56-4.3h4.02a1 1 0 0 0 .77-1.64Z"></path></svg>') 8 8, auto;
  }
  
   
  


.constructionDiv{
    
    display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr 3fr;
}
#production{
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 3fr;
}
.constructionDivTitle{
    color:rgb(220, 161, 0);
    background-color:  rgb(48, 47, 44);
    text-align: left;
    font-size: 100%;
    font-weight: 1000;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 10px;
    
    
}
.constructionDivButtons{
    background-color:  rgb(48, 47, 44);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr;
    gap: 2px
}

.constructionDivButtonsHalf{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2px
}
.constructionDivButtonsDouble{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    gap: 2px
    }



#storage{
    grid-area: storage;
    
    

    }




#knowledge{
grid-area: knowledge;



}

#production{
    grid-area: production;
  
   

    }

#justice{
        grid-area: justice;
       

 }

#health{
    grid-area: health;
   

}
#entertainment{
    grid-area: entertainment;
}
.constructionButton{
    margin: 3px;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    background-color: rgb(40, 40, 40);
    border-radius: 6px;
    transition: background-color 0.3s ease, color .3s ease, transform .3s ease;
display: flex;
align-items: center;
justify-content: center;
font-size: 90%;
font-family:Verdana, Geneva, Tahoma, sans-serif;
color: white;
}
.constructionButton:hover{
    background-color: rgb(63, 64, 61);
    color: rgb(160, 183, 153);
 
}


.inactive{
display: none;
}