*{
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 0px;
  }




#container{
    display: grid;
    grid-template-columns: .8fr 3.5fr 1fr;
    grid-template-rows: .1fr 2fr .15fr ;
    height: 100vh;
    gap: 10px;

margin: 0px;
    background-color: beige;
    grid-template-areas: 
    "leftSide header people"
    "leftSide main people"
     "leftSide footer people"

    
    ;

}
body{
    font-family: Arial, sans-serif;
    background-color: lightblue;
    margin: 0;
    padding: 0;}


    #people {
        padding: 4px;
        grid-area: people;
        background-color: beige;
        text-align: center;
        display: grid;
        grid-template-rows: .7fr repeat(20, 1fr); /* Creates 30 rows, one for each person */

        grid-template-columns: 1fr 1fr; /* You can adjust this if you want multiple columns */
        gap: 2px; /* Adds spacing between people */
        grid-template-areas: 
        "peopleTitle peopleTitle"
        
        ;
        overflow: scroll;
    }
    
#peopleTitle{
    grid-area: peopleTitle;
    text-align: center;
}


    .person {
        margin-left: 5px;
        margin-right: 5px;
        border: 1px black solid;
        background-color: rgb(60, 255, 86);
        padding: 3px;
       text-align: right;
    }
    




#leftSide{
    padding: 5px;
    grid-area: leftSide;
    background-color: beige;
    display: grid;
    height: auto;
    grid-template-columns: 1fr ;
    grid-template-rows: 1.2fr 1fr;
gap: 2px;
}

#productionData{
    border: 3px black solid;
    background-color: rgb(255, 177, 60);
}
#eventLog{
    border: 3px black solid;
    background-color: rgb(96, 96, 20);
}



#header {

    grid-area: header;
    background-color: beige;
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr;
    grid-template-areas: 
        "time title pauseplay";
    height: auto;
}



#timeData {  /* Update this to match the grid area */
    margin: 5px;
    grid-area: time;
    background-color: beige;
    border: 5px black solid;
}

#title {
justify-content: center;    display: flex;
    align-items: center;
    margin: 5px;
    grid-area: title;
    background-color: pink;
    text-align: center;
    font-size: xx-large;
    font-weight: 700;
}

#pausePlay {
    margin: 5px;
    grid-area: pauseplay;
    background-color: blueviolet;
    text-align: center;
}


#footer{

    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "tab1 tab2 tab3 tab4 tab5 tab6";
    background-color: beige;
    height: auto;
    padding: 8px;
}
#tab1{
    grid-area: tab1;
    background-color: brown;
}
#tab2{
    grid-area: tab2;
    background-color: rgb(251, 123, 123);
}
#tab3{
    grid-area: tab3;
    background-color: rgb(59, 16, 16);
}
#tab4{
    grid-area: tab4;
    background-color: brown;
}
#tab5{
    grid-area: tab5;
    background-color: rgb(251, 123, 123);
}
#tab6{
    grid-area: tab6;
    background-color: rgb(59, 16, 16);
}



.inactive{
    display: none;
}



#mainContainer{
    
    grid-area: main;
    background-color: beige;
  
}

#construction{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr 1fr 1fr;
    gap: 5px;
  
    grid-template-areas: 
    
    "residential residential"
    "storage knowledge"
    "production production"
    "justice justice"
    "health entertainment"
    ;
    height: 100%;
}

#residential{
grid-area: residential;


}
.constructionDiv{
    
    display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr 3fr;
}
.constructionDivTitle{
    background-color: beige;
    text-align: left;
    font-size: x-large;
    font-weight: 1000;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
.constructionDivButtons{
    background-color: beige;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr .5fr;
    gap:5px
}

.constructionDivButtonsHalf{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr .5fr;
    gap:5px
}
.constructionDivButtonsDouble{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    gap:5px
}



#storage{
    grid-area: storage;
    
    

    }




#knowledge{
grid-area: knowledge;



}

#production{
    grid-area: production;
  
   

    }

#justice{
        grid-area: justice;
       

 }

#health{
    grid-area: health;
   

}
#entertainment{
    grid-area: entertainment;
}
.constructionButton{
    margin: 10px;
    text-align: center;
    background-color: darkgray;
    border: 3px black solid;
    border-radius: 10px;
    transition: background-color 0.5s ease color .5s ease;
display: flex;
align-items: center;
justify-content: center;
font-size: x-large;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: white;

}
.constructionButton:hover{
    background-color: lightgray;
    color: black;
    cursor: pointer;
}